header {
  background-color: var(--dark);
  width: 100vw;
  height: 25px;
  box-sizing: border-box;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 18px;
}

.date { background-color: var(--second); }

.date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin-left: -25px;
  padding-right: 0.5em;
}

.date::-webkit-datetime-edit { padding-left: 0.5em; }

.mainSection {
  height: 30vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.mainHeader {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.mainHeader p { text-align: left; }
