@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
  font-family: "gillsans";
  src:
    local("gillsans"),
    url("./assets/gillsans.ttf") format("truetype");
}

@font-face {
  font-family: "gillsans-bold";
  src:
    local("gillsans-bold"),
    url("./assets/gillsansbold.otf") format("truetype");
}

:root {
  --main: #4066ae;
  --first: #437ae0;
  --second: #3a6fd1;
  --third: #3661b1;
  --dark: #2e4b80;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  font-family: 'gillsans', sans-serif;
}

*:focus { outline: none; }

a { text-decoration: none; }

html {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--first);
}

footer {
  background-color: var(--dark);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: x-small;
  padding: 0.5em;
}
